<div class="py-5 border-top">
	<div class="container">
		<p class="h5 mb-3">{{ site.title | escape }}</p>
		<div class="row">
			<div class="col-sm">
				<ul class="list-unstyled">
					<li>{%- if site.author -%}
						{{ site.author | escape }}
						{%- else -%}
						{{ site.title | escape }}
						{%- endif -%}
					</li>
					{%- if site.email -%}
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					{%- endif -%}
				</ul>
			</div>
			<div class="col-sm text-right">
				<p>{{- site.description | escape -}}</p>
				<p><a class="nav-link" href="{{ site.github.repository_url }}">Fork me on Github</a></p>
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.1.0.min.js" integrity="sha256-ycJeXbll9m7dHKeaPbXBkZH8BuP99SmPm/8q5O+SbBc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	
<script>
// Get the height of the header
var headerHeight = 60;

// Attach the click event
$('a[href*=#]').bind("click", function(e) {
    e.preventDefault();

    var target = $(this).attr("href"); //Get the target
    var scrollToPosition = $(target).offset().top - headerHeight;

    $('html').animate({ 'scrollTop': scrollToPosition }, 800, function(){
        window.location.hash = "" + target;
        // This hash change will jump the page to the top of the div with the same id
        // so we need to force the page to back to the end of the animation
        $('html').animate({ 'scrollTop': scrollToPosition }, 0);
    });

    //$('body').append("called");
});
	
$(function () {
	$('.page-content table').addClass('table table-striped');
});
	
</script>