<body data-spy="scroll" data-target="#navbar" data-offset="70">
    <nav class="navbar navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html">
            <img src="https://labondemand.netapp.com/sites/default/files/na_logo_hrz_2c_rgb_lrg.png" alt="Home">
        </a>
        <h1>{{ site.title }}</h1>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap text-center">
                Version 1.0<br />
				<small>03.19</small>
            </li>
        </ul>
    </nav>
<br /><br />