<nav class="nav nav-pills flex-column">
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap"><br />
			<input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
			<br />
		</li>
	</ul>
					
<a class="nav-link" href="#1-introduction">1 Introduction</a>
<a class="nav-link" href="#2-lab-environment">2 Lab Environment</a>
<a class="nav-link" href="#3-lab-activities">3 Lab Activities</a>
<nav class="nav nav-pills flex-column">
	<a class="nav-link ml-3 my-1" href="#31-register-netapp-data-availability-services-account">3.1 Register NetApp Data Availability Services Account</a>
	<a class="nav-link ml-3 my-1" href="#32-register-disk-and-object-targets-on-netapp-data-availability-services">3.2 Register Disk and Object Targets on NetApp Data Availability Services</a>
	<a class="nav-link ml-3 my-1" href="#33-data-protection-with-netapp-data-availability-services">3.3 Data Protection with NetApp Data Availability Services</a>
	<a class="nav-link ml-3 my-1" href="#34-executing-a-netapp-data-availability-services-file-restore-to-original-location">3.4 Executing a NetApp Data Availability Services File Restore to Original Location</a>
	<a class="nav-link ml-3 my-1" href="#35-executing-a-netapp-data-availability-services-file-restore-to-alternate-location">3.5 Executing a NetApp Data Availability Services File Restore to Alternate Location</a>
	<a class="nav-link ml-3 my-1" href="#36-executing-a-netapp-data-availability-services-volume-restore">3.6 Executing a NetApp Data Availability Services Volume Restore</a>
</nav>
<a class="nav-link" href="#4-version-history">4 Version History</a>
<!-- <a class="nav-link" href="#">Download PDF <i class="far fa-file-pdf"></i></a> -->
</nav>