<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{%- include head.html -%}
<body data-spy="scroll" data-target="#navbar" data-offset="70">
	{%- include header.html -%}

	<div class="container-fluid">
    <div class="row">
        <nav id="navbar" class="nav col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
            </div> <!-- sidebar-sticky -->
        </nav>

        <main role="main" class="col-md-7 ml-sm-auto col-lg-8 px-4">
            <div class="section page-content">
				 {{ content }}
            </div> <!-- section -->
			
			<hr />
			
			<!-- FOOTER -->
			<footer class="container">
				{%- include footer.html -%}
			</footer>
		</main>
		<div class="col-md-1 col-lg-2">&nbsp;</div>
	</div> <!-- row -->
</div> <!-- container-fluid -->
			
			
		
  </body>
</html>